header {
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid lavender
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 144, 180);
    height: 100%;

}
    
    .titulo{
font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 25px;
    color: rgb(131, 57, 57);
    border: 4px solid rgb(200, 200, 226)

    
}

.lista{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: black;
    

}



